body{
    margin: 0;
}

.main-tittle{
    color: #333;
    font-family: 'Inconsolata';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.92px;
    text-transform: uppercase;
    padding-left: 40px;
    margin-bottom: 10rem;


}

.container{

    display: flex;
    margin: 0px;
    flex-direction: row;
    width: 100%;
    
    
}
.second-container{
    display: flex;
    flex-direction: column;
    width: 100%;

}
.img-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
    img{
        
        width: 30rem;
        
    }
}
.message-container{

    color: var(--Gray-1, #333);
    font-family: 'Space Mono';
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -2.24px;
    width: 100%;
  
   
    
    p{
        margin: 0;
         padding-right: 145px;
         padding-left: 20px;
    }
    

}
.text-container{
    color: var(--Gray-2, #4F4F4F);
    font-family: 'Space Mono';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.84px;
    
    margin: 2rem 0;
    p{
    padding-right: 340px;
    padding-left: 20px;
    }
    
}
.button-container{
    padding-left: 20px;
    button{
        border: 1px solid black;
        background-color: #333;
        width: 216px;
        height: 68px;

        color: #FFF;
        font-family: 'Space Mono';
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.49px;
            }

    
}

@media(max-width: 376px){
    .main-tittle{
        margin-bottom:  50px;
        font-size: 18px;
        padding-left: 20px;
    }
    .container{
    flex-direction: column;
    }

    .img-container{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-bottom: 80px;
        img{
            
            width: 286px;
            height: 220px;
            
        }
    }
    .message-container{
        p{
            padding-right: 0;
            font-size: 48px;
            letter-spacing: -1.68px;
            
        }
    }
    .text-container{
       p{
        margin-top: 0;
        padding-right: 40px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.63px;
    
       }
       margin-bottom: 40px;
    }

    
    
    
    

}